<form action="/barang/create" method="post">

    <table border="1" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <td>Kode Barang</td>
            <td><input type="text" name="kode_barang"/></td>
        </tr>

        <tr>
            <td>Seller</td>
            <td><select name="seller_id">
                <% if(seller.length) { %>
                    <% seller.forEach((slr) => { %>
                        <option value="<%= slr.id %>"><%= slr.nama_seller %></option>
                    <% }) %>
                <% } %>
            </select></td>
        </tr>
        
        <tr>
            <td>Nama Barang</td>
            <td><input type="text" name="nama_barang"/></td>
        </tr>

        <tr>
            <td>Harga</td>
            <td><input type="text" name="harga"/></td>
        </tr>

        <tr>
            <td>Stok</td>
            <td><input type="text" name="stok"/></td>
        </tr>

        <tr>
            <td>Deskripsi Produk :</td>
            <td><textarea name="deskripsi"cols="30" rows="10"></textarea></td>
        </tr>

    </table>

    <br>
    <input type="submit" value="Simpan">

</form>